@import './setting';




$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;



body {
  margin: 0;
  font-style: 14px;
  line-height: 1.3em;
  font-family: 'Source Sans Pro',sans-serif;
}

.App {
 
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

}